body {
background-color:#FDEBD0;
}

.Picture1 {
  width: 300px;
  height: 150px;
  float: left;
  margin-right: 10px;
}

a:hover{
  background-color: grey;
}

a.nodec{
  text-decoration: none;
}

h1 {
  font-size: 250%;
  text-align: center;
  font-family: sans-serif, serif, "Times New Roman";
  letter-spacing: 2.0pt;

  }



.socialmedia {
              width: 40pt;
              height: 40pt;
            }

.nav {
              background-color: #333;
              overflow: hidden;
            }

.nav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 20px;
              text-decoration: none;
              font-size: 20px;
              word-spacing:2.0pt;
            }
table {
  width:100%;
}

.explore {
  width:400px;
  height:300px;
  border: 10px groove #6C6258;
  border-radius: 40px;
  padding: 4px;
}

.title {
  font-size:40px;
  font-family:sans-serif,cursive,"Times New Roman";
  border-style:groove;
  border-width: thick;
  color:white;
  background-color:tomato;
  border-radius:30px;
}
figcaption {
  font-size:20px;
  font-family: sans-serif, "Times New Roman", serif;
  color:black;
  border-style: ridge;
  border-color: #6C6258;
  background-color: #F5F5F5;
  text-align: justify;
  padding: 10px;
  border-width: 7px;
  border-radius: 50px;
  text-indent: 5%;
  line-height:30px;
  width:85%;
}

form{
  color:black;
  text-align: center;
  border-style:dotted;
  border-color:orange;
  text-indent: 10px;
  background-color: lightgrey;
  font-size:26px;
  width:70%;
}
.clbutton{
  padding:10px;
  background-color:orange;

}
