body {
background-color:#FDEBD0;
}

.Picture1 {
  width: 300px;
  height: 150px;
  float: left;
  margin-right: 10px;
}

a:hover{
  background-color: grey;
}

a.nodec{
  text-decoration: none;
}

h1 {
  font-size: 250%;
  text-align: center;
  font-family: sans-serif, serif, "Times New Roman";
  letter-spacing: 2.0pt;

  }



.socialmedia {
              width: 40pt;
              height: 40pt;
            }

.nav {
              background-color: #333;
              overflow: hidden;
            }

.nav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 20px;
              text-decoration: none;
              font-size: 20px;
              word-spacing:2.0pt;
            }
.paragraphs {
  border-style: ridge;
  border-color: lightgrey;
  font-size: 20px;
  background-color: white;
  text-align: justify;
  padding: 20px;
  border-width: 20px;
  border-radius: 70px;
  text-indent: 5%;
  line-height:40px;
}
h2 {
  text-align: center;
  font-family: cursive, san-serif, "Times New Roman";
  font-size: 30px;
}

.firstImage {
  border-radius: 60px;
}
.secondImage {
 border: 10px groove darkblue;
 border-radius: 10px;
 padding: 4px;
 width:700px;
 height:500px;
}

.purpose{
  border-style: ridge;
  border-color: lightgrey;
  font-size: 20px;
  background-color: white;
  text-align: justify;
  padding: 20px;
  border-width: 20px;
  border-radius: 70px;
  text-indent: 5%;
  line-height:30px;
}
form {
  width:400px;
  background-color: lightgrey;
  padding: 10px;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  margin: auto;

}
.clbutton{
  background-color:orange;
}
